/*
 * Component styles for ml4w-minimal
 * (idle-inhibitor, custom modules, hardware, network, battery, tray, etc.)
 */

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

 #idle_inhibitor {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @iconcolor;
}  

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
    font-size: 20px;
    color: @textcolor;
    margin: 0px 15px 0px 0px;
}  

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

 #custom-notification {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolor;
    opacity: 0.8;
}  

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:16px;
    color: @iconcolor;
}  

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}  

#custom-updates.green {
}

#custom-updates.yellow {
    color: #ff9a3c;
}

#custom-updates.red {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: @backgroundlight;
    font-size: 14px;
    color: @textcolor2;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}  

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:14px;
    color: @iconcolor;
}  

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

 #power-profiles-daemon {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:14px;
    color: @iconcolor;
} 

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 15px;
    color: @textcolor;
    margin: 0px 15px 0px 0px;
}  

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

 #backlight {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
    background-color: transparent;
}  

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

 #pulseaudio {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}  

#pulseaudio.muted {
    color: @textcolor;
}  

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}  

#network.ethernet {
    color: @textcolor;
}

#network.wifi {
    color: @textcolor;
}  

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}  

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor;
}  

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}  

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #db30d0;
}


/* safe styling (no animations) */
#mpris {
  color: #c528c0;
}
