/*
 * Module-level styles for ml4w-minimal
 * (workspaces, tooltips, modules, quicklinks, tools)
 */

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

 #workspaces {
    margin: 3px 7px 3px 3px;
    border: 0px;
    font-size: 14px;
    color: @textcolor1;
}

#workspaces button {
    border: 0px;
    margin:4px 5px 4px 0px;
    padding:0px 4px 0px 4px;
    color: @textcolor3;
    transition: all 0.5s ease-in-out;
}

#workspaces button.active {
    color: @textcolor1;
    background: @workspacesbackground2;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
}  

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 16px;
    background-color: @backgroundlight;
    opacity:0.9;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}  

/* -----------------------------------------------------
 * Modules (core placement tweaks)
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks + Tools
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 16px;
    font-size: 14px;
    font-weight: bold;
    color: @iconcolor;
}  

#tools {
    margin-left: 2px;
    margin-right: -6px;
    padding-left: 6px;
    padding-right: 2px;
    margin-top:5px;
    margin-bottom: 5px;
    background: rgba(69, 128, 216, 0.83);
    border-radius: 10px;
}

#custom-quicklink_obsidian {
    background-image: url('../assets/obsidian-icon-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px; 
    margin: 4px;
}

#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:16px;
}

#custom-hypridle.active {
    color: @iconcolor;
}  

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-settings {
    margin-right: 15px;
}

#custom-browser {
    margin-right: 12px;
}

#custom-wallpaper {
    margin-right: 14px;
}

#custom-chatgpt {
    margin-right: 10px;
    background-image: url("../assets/ai-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 23px;
}

#custom-waybarthemes,#custom-system {
    margin-right:15px;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 20px;
}

#custom-ml4w-hyprland-settings {
    margin-right: 12px;
    background-image: url("../assets/hyprland-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
}
